<jquery/>
<link href="__PUBLIC__/css/head.css" rel="stylesheet" />
<script>
	// 验证码初始地址
	var codeSrc = '{|U("Index/User/showCode")}';
</script>
<script type="text/javascript" src="__PUBLIC__/js/head.js"></script>

<!-- 遮挡层 -->
<div id="cover"> </div>
<!-- 登录框 -->
<div id="loginBox" url="{|U("Index/User/checkIsLogin")}" app="__APP__">

	<h3>登录 <a href="javascript:hideLoginBox();" class='close'></a></h3>
	<div class='error'>

	</div>
	<form id="loginForm" action="{|U('Index/User/login')}" method="post" checkUrl="{|U('Index/User/checkLogin')}">
	<ul>
		<li>
			<span class='name'>用户名:</span>
			<span class='input'><input class="lmust" type="text" name="username"/></span>
		</li>
		<li>
			<span class='name'>密码:</span>
			<span class='input'><input  type="password" name="password"/></span>
		</li>
		<li>
			<span class='name'>验证码:</span>
			<span class='input inputcode'><input class="lmust"  class='must' type="text" name="code"/></span>
			<span class='code'><img width="100" onclick="this.src = codeSrc+'?'+Math.random();" src="{|U('Index/User/showCode')}"/></span>
		</li>
		<li>
			<span class='name'></span>
			<span class='input inputsubmit'><input type="submit" name="username" value="提交"/></span>
			<span class='goreg'>没有账号,<a href="javascript:showRegBox();">去注册</a></span>
		</li>
	</ul>
	</form>
</div>
<!-- 注册框 -->
<div id="regBox">
	<h3>注册 <a href="javascript:hideRegBox();" class='close'></a></h3>
	<div class='error'>

	</div>
	<form id="regForm" action="{|U('Index/User/reg')}" method="post" checkUrl="{|U('Index/User/checkReg')}">
	<ul>
		<li>
			<span class='name'>用户名:</span>
			<span class='input'><input class="must" type="text" name="username"/></span>
		</li>
		<li>
			<span class='name'>邮箱:</span>
			<span class='input'><input class="must"  type="text" name="email"/></span>
		</li>
		<li>
			<span class='name'>密码:</span>
			<span class='input'><input class="pass1"  type="password" name="password"/></span>
		</li>
		<li>
			<span class='name'>确认密码:</span>
			<span class='input'><input class="pass2"  type="password" name="password_d"/></span>
		</li>
		<li>
			<span class='name'>昵称:</span>
			<span class='input'><input class="must" type="text" name="nickname"/></span>
		</li>
		<li>
			<span class='name'>验证码:</span>
			<span class='input inputcode'><input class="must"  class='must' type="text" name="code"/></span>
			<span class='code'><img width="100" onclick="this.src = codeSrc+'?'+Math.random();" src="{|U('Index/User/showCode')}"/></span>
		</li>
		<li>
			<span class='name'></span>
			<span class='input inputsubmit'><input type="submit" name="username" value="提交"/></span>
			<span class='goreg'>已有账号,<a href="javascript:showLoginBox();">去登录</a></span>
		</li>
	</ul>
	</form>
</div>
<div id="top">
		<div class='pos'>
			<div class='user' id="user">
				<img style="margin-top:10px;" id="loading" src="__ROOT__/templates/default/public/images/05043156.gif"/>
			</div>
			<div class='search'>
				<form  action="{|U('Index/Search/index')}" method="get">
					<input class='keywords' type="text" name="keywords" />
					<input class='submit' type="submit" value="" />
				</form>
			</div>
		</div>
	</div>
	<div id="header">
		<div class='logo'>

		</div>
		<div class='navigation'>
			<a href="__ROOT__">首页</a>
			<category name="catid">
				<a href="{$catid.url}">{$catid.cname}</a>
			</category>
		</div>
	</div>